#set($contextPath= $request.getContextPath())
<link type="text/css" rel="stylesheet" href="${contextPath}/assets/css/cloud.css" />
<link type="text/css" rel="stylesheet" href="${contextPath}/assets/css/monitor.css?date=new Date()" />
<script src="${contextPath}/assets/js/Highcharts/highcharts.js"></script>
<script src="${contextPath}/assets/js/Highcharts/highchartsTheme.js"></script>
<div id="wrapperScroll" class="cloud-wrapper">
	<div class="cloud-panl">
		<div class="cloud-panl-head">
			<h4>监控数据查询 </h4>
		</div>
		<div class="cloud-panl-con">
			<ul class="cloud-panl-con-lists">			
				<li><label>节点类型</label><span id="nodeType"></span></li>
				<li><label>节点分组</label><span id="nodeGroup"></span></li>
				<li><label><i style="color:red">*</i>节点标识</label><input id="node" type="text" class="k-textbox"/></li>
				<li><label>开始时间</label><input id="dtBegintime"/></li>
				<li><label>结束时间</label><input id="dtEndtime"/></li>				
				<li><button id="btnSearch" class="k-primary k-button">查询</button><button class="k-button">重置</button></li>
			</ul>
		</div>
	</div>	
	<div class="cloud-charts">
		<ul>
			<li>
				<div class="cloud-panl">
					<div class="cloud-panl-head">
						<h4>任务统计</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="task"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="cloud-panl left-half">
					<div class="cloud-panl-head">
						<h4>CPU</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="CPU"></div>
					</div>
				</div>			
				<div class="cloud-panl right-half">
					<div class="cloud-panl-head">
						<h4>Heap</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="Heap"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="cloud-panl left-half">
					<div class="cloud-panl-head">
						<h4>NonHeap</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="NonHeap"></div>
					</div>
				</div>			
				<div class="cloud-panl right-half">
					<div class="cloud-panl-head">
						<h4>PermGen</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="PermGen"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="cloud-panl left-half">
					<div class="cloud-panl-head">
						<h4>OldGen</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="OldGen"></div>
					</div>
				</div>			
				<div class="cloud-panl right-half">
					<div class="cloud-panl-head">
						<h4>EdenSpace</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="EdenSpace"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="cloud-panl left-half">
					<div class="cloud-panl-head">
						<h4>Survivor</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="Survivor"></div>
					</div>
				</div>			
				<div class="cloud-panl right-half">
					<div class="cloud-panl-head">
						<h4>GCCount</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="GCCount"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="cloud-panl left-half">
					<div class="cloud-panl-head">
						<h4>GCTime</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="GCTime"></div>
					</div>
				</div>			
				<div class="cloud-panl right-half">
					<div class="cloud-panl-head">
						<h4>TheadCount</h4>
					</div>
					<div class="cloud-panl-con">
						<div class="chart" id="TheadCount"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	#parse('/layout/footer.vm')
</div>
<div id="returnTop" class="return-top">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
		<polygon points="15.8,7.8 8,0 0.2,7.8 1.3,8.9 7.2,3.1 7.2,16 8.8,16 8.8,3.1 14.7,8.9 "/>
	</svg>
</div>
<script src="${contextPath}/assets/js/monitor.monitor.js?date=new Date()"></script>