<!DOCTYPE html>
<html>
<head>
    #parse('/layout/head.vm')
</head>
<body class="pace-done">
<script>
require.config({
          baseUrl: "${contextPath}/assets/js/ufa/ufa", 
          paths: {
            "jquery": "jquery",
          }
        });
</script>
$screen_content
</body>
</html>